<% layout('layout') %> <% if (success_msg.length) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>success:</strong> <%= success_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } else if (error_msg.length) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>error:</strong> <%= error_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
<div class="container">
  <div class="column offset-3 col-6 text-center">
    <h1 class="font-bold">do you want to post something?</h1>
    <a href="/home/post" class="btn btn-primary">POST</a>
  </div>

  <% if (posts) { %> <% posts.forEach(post => { %>
  <div class="card column offset-3 col-6 my-5">
    <div class="card-body">
      <small><%=post.user_id.username %></small>
      <h5 class="card-title"><%= post.title %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary post-date">
        <%= post.createAt %>
      </h6>
      <p class="card-text"><%= post.content %></p>
      <a href="/home/:idpost/like" class="btn btn-success">like</a>
      <a href="/home/:idpost/comment" class="btn btn-warning">comment</a>
    </div>
  </div>
  <% }) %> <% } %>
</div>
