<% layout('layout') %> <% if (success_msg.length) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>success:</strong> <%= success_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } else if (error_msg.length) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>error:</strong> <%= error_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
<div class="container text-center">
  <h1 class="font-bold">do you want to post something?</h1>
  <a href="/home/post" class="btn btn-primary">POST</a>
</div>

<% if (posts) { %> <% posts.forEach(post => { %>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= post.createAt %></h6>
    <p class="card-text"><%= post.content %></p>
    <a href="#" class="card-link">like</a>
    <a href="#" class="card-link">comment</a>
  </div>
</div>
<% }) %> <% } %>
